
@{
    ViewBag.Title = "Welcome to the blog!";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Welcome to the ASP.NET MVC4 with Entity Framework 5 blog. This blog demonstrates features such as user accounts, CRUD actions for blog posts with user permissions and an updating front page view with AJAX.
            </p>
        </div>
    </section>
}

<h2>Blog Posts:</h2>

@section scripts {
    <script type="text/javascript" src="/Scripts/blog/blogscript.js"></script>
}
<div id="blogposts">
</div>
