
@{
    ViewBag.Title = "Welcome to the blog!";
}

<p>
    @Html.ActionLink("Create A Post", "Create", "Blog", null, new { @class = "btn btn-lg btn-primary" })
</p>
<hr />

<div class="well">
    <h3>Filter posts by author:</h3>
    <input id="author-filter" />
</div>

@section scripts {
    <script type="text/javascript" src="/Scripts/blog/blogscript.js"></script>
}
<div id="blogposts">
</div>
