@model BlogSiteTest.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

@Html.Partial("~/Views/Blog/_SinglePost.cshtml", Model)

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
