@model IEnumerable<BlogSiteTest.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Blog Posts:</h2>

@section scripts {
    <script type="text/javascript" src="/Scripts/blog/blogscript.js"></script>
}
<div id="blogposts">
</div>